body {
    background-color: white;
   font-family: Raleway, Arial, sans-serif;
   font-size: 30px;
   margin: 0;
   padding: 0;
}
.square {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 20px;
    width: 400px;
    height: 400px;
    background-color: grey;
}

#content {
    max-width: 1000px;
    margin: 0 auto;
}
h1 {
    font-size: 80px;
    font-family: Times New Roman;
}
h2 {
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(183, 0, 0);
}


