
.content {
   max-width: 1600px;
   margin: 0 auto;
}

a {
   text-decoration: none;
}
header {
    display: flex;
    background-color: #bfddce;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
}

.logo {
   width: 150px;
    height: auto;
    border-radius: 50%;
}
body {
    background-color: rgba(255, 255, 255, 0.836);
    font-family: 'Raleway', Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
 }
 nav a {
    background-color: #bfddce;
    font-family: 'Rubik', 'Geneva', sans-serif;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 1.15em;
    color: white;
    margin: auto;
    margin-top: 2em;
    width: 60%;
    justify-content: space-around;
}
nav a:hover {
    background-color: white;
    color: black;
    font-family: 'Rubik', 'Geneva', sans-serif;
}
.main-image {
    display: flex;
    align-items: center;
}
 .main-image img {
    max-width: 50%;
 }
 h1 {
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
    margin-top: ;
    letter-spacing: 3px;
   background-color: #d4ed88;
   border-radius: 15px;
 }
 h2 {
    text-align: center;
    letter-spacing: 2px;
    font-size: 2em;
 }
 h5 {
   background-color: #dbae8d;
   border-radius: 10px;
   padding: 15px;
 }
 h6 {
   letter-spacing: 1px;
   font-size: 1em;
   background-color: #d4ed88;
   border-radius: 15px;
   padding: 10px;
   padding-left: 15px;
   margin-block-start: 15px;
 }
 #about {
   border-radius: 25px;
    text-align: center;
    font-size: 1.2em;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #dbae8d;
    padding: 15px;

 }
 #tours {
    display: flex;
    padding: 30px;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin: 100px;
    background-color: #f1856d;
    border-radius: 25px;
    pa
 }
 .tours-flex, .tours-flex2 {
   align-items: center;
   display: flex;
   justify-content: space-between;
   width: 100%;
   
 }
 .tours-flex img, .tours-flex2 img{
    width: 50%;
    background-color: #e86c4f;
    
 }
 .tours-flex p, .tours-flex2 p{
    margin: 75px;
    padding: 45px;
    background-color: #dbae8d;
    

 }
 #booking-img {
   align-items: center;
   padding-left: 400px;
 }
 .tours {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    margin: 25px auto;
 }
 h3 {
   text-align: center;
 }
 .tour img {
    width: 300px;
 }
.booking {
    text-align: center;
    font-size: 1em;
}
.contact {
    text-align: center;
    font-size: .8em;  
}
#contact {
   text-align: center;
   margin: 100px;
   
}
.panel {
   padding: 0 18px;
   background-color: white;
   max-height: scrollHeight;
   overflow: hidden;
   transition: max-height 0.2s ease-out;
 }
.accordion {
   background-color: #d4ed88;
   color: #027a76;
   cursor: pointer;
   padding: 18px;
   width: 98%;
   max-width: 600px;
   text-align: center;
   border: none;
   outline: none;
   transition: 0.4s;
   margin: 0.5em 0;
   font-size: 25px;
   border-radius: 10px;
 }
 .active, .accordion:hover {
   background-color: #c8e372; /* Slightly darker green to show it's active */
 }
 
 .accordion-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 0;
 }
 
 footer {
    background-color: #bfddce;
    padding: 15px 50px;
    margin-top: 200px;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1em;
}
