@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
body { 
    
    padding: 0;
    margin: 0;
    background-color: white;

}
#content {
    max-width: 1000px;
    margin: 0 auto;
}
nav {
    background-color: #BFD7EA;
    display: flex;
    justify-content: center;
}

/* This is targeting a class in html */
.nav_link {
    padding: 10px;
    color: black;
    font-size: 1.3em;
    text-decoration: none;
}

img{
    width: 30%;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    transition: transform .5s;

} 
img:hover { 
    opacity: .6;
    transform: scale(1.1);
}
nav a:hover {
    color: rgb(61, 58, 58);
    background-color: white;
}
#main_title { 
    font-size: 3em;
    text-align: center;
    font-family: "Protest Riot", 'Bradley Hand', 'sans-serif';
}
footer p, h3{ 
    text-align: center; 
}
main p {
    width: 60%;
    margin: 50px auto;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 50px;
    background-color: #BFD7EA;
    border: 5px solid black;
    color: black;
    box-sizing: border-box;
    border-radius: 10px;
    
}
#sub_tite {
    color: red;
}
footer {
    background-color: E0FF4F;
    padding: 20px;
}
@media screen and (max-width: 900px) {
    main{
        display: block;
    }
}