body { 
    
    padding: 0;
    margin: 0;
    background-color: grey;

}
#content {
    max-width: 1000px;
    margin: 0 auto;
}
.nav_link {
    padding: 10px;
    color: black;
    font-size: 1.3em;
    text-decoration: none;
}
main img{
    width: 15%;
    border: 10px solid rgb(67, 67, 67); 
    box-sizing: border-box;
    border-radius: 50%;
    margin-right: 100px;
} 
main{
    text-align: center;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    color: black;
    box-sizing: border-box;
    border-radius: 50%;

}